{% load static %}
{% load feeds_extras %}

<h3 class="card-title d-flex align-items-center">
    {{ review.headline }} -
    {% with ''|center:review.rating as range %}
        {% for _ in range %}
            <img src="{% static 'images/gold_star.png' %}" class="pl-2">
        {% endfor %}
    {% endwith %}
    {% with 5|subtract:review.rating as rest %}
        {% with ''|center:rest as range %}
            {% for _ in range %}
                <img src="{% static 'images/empty_star.png' %}" class="pl-2">
            {% endfor %}
        {% endwith %}
    {% endwith %}
    
</h3>
<p class="card-text">
    {{ review.body }}
</p>
<div class="review-ticket">
    {% if review.ticket %}
        <div class="card border-dark shadow-sm mt-4 w-100 mx-auto">
            <div class="card-body d-flex flex-column">
                <p class="card-text">
                    Ticket - {{ review.ticket.user }}
                </p>
                {% include "feeds/partials/ticket_snippet.html" with ticket=review.ticket %}
            </div>
        </div>
    {% endif %}
</div>
