<html>
    <head>
        <title>LitReview</title>
    </head>
    <body>

        <div>
            <h1>LitReview</h1>
            {% if user.is_authenticated %}
                <p>Bonjour {{ request.user }} !

                <p><a href="{% url 'home' %}">Accueil</a></p>
                <p>Mon flux</a></p>              
                <p>Suivre des abonnés</a></p>
                <p>Se déconnecter</a></p>

                </p>
            {% endif %}
        </div>
        
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    
    </body>
</html>
