{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center mt-4">Créer un ticket</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in ticket_form.visible_fields %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                        </p>
                    {% endfor %}
                    
                    <div class="text-right">
                        <button class="btn btn-dark" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}

