{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center mt-4">Créer une critique</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h5>Livre/Article</h5>
                <hr>
                    {{ ticket_form.as_p }}
                    {% csrf_token %}
                <hr>
                <h5>Critique</h5>
                <hr>
                    {% include "feeds/partials/create_review_snippet.html" %}
                    {% csrf_token %}
                <div class="text-right"><button class="btn btn-dark" type="submit">Envoyer</button></div>
            </form>
        </div>
    </div>
</div>



{% endblock content %}

