{% extends "base.html" %}
{% load feeds_extras %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row align-items-center justify-content-center mt-4">
        <div class="text-center mr-4">
            <a id="home-button" class="btn btn-dark btn-block" href="{% url 'create_review' %}">Créer une critique</a>
        </div>
        <div class="text-center">
            <a id="home-button" class="btn btn-dark btn-block" href="{% url 'create_ticket' %}">Créer un ticket</a>
        </div>
    </div>
    {% for instance in page_obj %}
        {% if instance|model_type == "Ticket" %}
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <div class="card border-dark shadow-sm mt-4">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">
                                {{ instance.user }} a demandé une critique
                            </p>
                            {% include "feeds/partials/ticket_snippet.html" with ticket=instance %}
                        </div>
                    </div>
                </div>
            </div>
        {% elif instance|model_type == "Review"%}
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <div class="card border-dark shadow-sm mt-4">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">
                                {{ instance.user }} a publié une critique
                            </p>
                            {% include "feeds/partials/review_snippet.html" with review=instance %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}

