{% extends "base.html" %}
{% load feeds_extras %}

{% block content %}

<div class="container">
    {% for instance in page_obj %}
        {% if instance|model_type == "Ticket" %}
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <div class="card border-dark shadow-sm mt-4">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">
                                Vous avez demandé une critique
                            </p>
                            {% include "feeds/partials/ticket_snippet.html" with ticket=instance %}
                            <div class="row">
                                <div class="col text-right mt-4">
                                    <a href="edit/{{ instance|model_type }}/{{ instance.id }}" class="btn btn-dark btn-sm">Modifier</a>
                                    <a href="delete/{{ instance|model_type }}/{{ instance.id }}" class="btn btn-dark btn-sm">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% elif instance|model_type == "Review"%}
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <div class="card border-dark shadow-sm mt-4">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text">
                                Vous avez publié une critique
                            </p>
                            {% include "feeds/partials/review_snippet.html" with review=instance %}
                            <div class="row">
                                <div class="col text-right mt-4">
                                    <a href="edit/{{ instance|model_type }}/{{ instance.id }}" class="btn btn-dark btn-sm">Modifier</a>
                                    <a href="delete/{{ instance|model_type }}/{{ instance.id }}" class="btn btn-dark btn-sm">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}

